.advantages__list {
  @include resetList;
  background: #eeeeee;
}

.advantages__heading {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__text {
  padding-top: 57px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__item--cool .advantages__text {
  color: #ffffff;
}

.advantages__item--cool .advantages__heading {
  color: #ffffff;
}

.advantages__item {
  padding-top: 33px;
  padding-bottom: 34px;

  &--cool {
    padding-top: 45px;
    padding-bottom: 0;
    background-color: $brand-color;
    color: #ffffff;
  }

  &--cool:first-child {
    padding-top: 64px;
  }
}

.advantages__image {
  padding-top: 45px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__item {
    width: 33%;
  }

  .advantages__item--cool {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .advantages__content {
    width: 33%;
  }

  .advantages__image {
    width: 67%;
    padding: 0;
  }
}
