.advantages__list {
  @include resetList;
}

.advantages__heading {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}

.advantages__text {
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
}
