.author-name {
  @include resetIndentation;
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

@media (min-width: $desktop-width) {
  .author-name {
    color: #ffffff;
  }
}
