.form-part__label {
  @include resetIndentation;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.form-part__choice-label {
  @include resetIndentation;
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-part__input {
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-part__input::placeholder {
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
