.form-part {
  border: none;
  margin: 0;
  padding: 0;

  &--impressions {
    order: 3;
    display: flex;
    flex-direction: column;
  }

  &--personal-info {
    order: 1;
  }

  &--contacts {
    order: 2;
  }

  &--sights {
    order: 4;
    display: flex;
    flex-direction: column;
  }

  &--comment {
    order: 5;
  }
}

.form-part__label {
  @include resetIndentation;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  &--contacts {
    flex-direction: column;
    align-items: normal;
  }
}

.form-part__choice-label {
  @include resetIndentation;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form-part__input {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 22px;
  padding-right: 21px;
  padding-bottom: 19px;
  padding-left: 21px;
  background-color: #f2f2f2;
  border: none;
  font-family: $main-font;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &--tel {
    position: relative;
  }
}

.form-part__input::placeholder {
  color: #000000;
}

.form-part__input--tel::after {
  content: "after1";
  position: absolute;
  display: block;
  background-color: #e6e6e6;
  background-image: url("../../img/icon-phone.svg");
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
  top: 10px;
  left: 10px;
}

.form-part__label-name {
  padding-right: 21px;
  padding-left: 14px;
}

.form-part__label--contacts .form-part__input {
  margin-left: 0;
  width: calc(100% - 40px);
}

.form-part__wrap--sights {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form-part {
    &--impressions {
      order: 1;
      width: 50%;
    }

    &--personal-info {
      order: 2;
      width: 50%;
    }

    &--contacts {
      order: 3;
      width: 100%;
    }

    &--sights {
      order: 4;
      display: flex;
      flex-wrap: wrap;
    }

    &--comment {
      order: 5;
    }
  }

  .form-part--sights .form-part__choice-label {
    width: 50%;
  }

  .form-part__wrap--sights {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .form-part {
    &--personal-info {
      width: 400px;
      align-items: center;
    }
  }

  .form-part__label--contacts {
    display: flex;
    width: 50%;
    flex-direction: row;
  }

  .form-part__input {
    box-sizing: border-box;

    &--tel {
      max-width: 315px;
    }

    &--mail {
      max-width: 316px;
      box-sizing: border-box;
    }
  }

  .form-part__input:hover {
    background-color: #e5e5e5;
  }

  .form-part__input:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
    //box-sizing: border-box;
    padding-top: 18px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;
    outline: 0;
  }

  .form-part__label-name {
    padding-top: 25px;
    padding-right: 17px;
    padding-left: 0;
  }

  .form-part--contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-part__wrap {
    display: flex;
  }

  .form-part--sights {
    width: 960px;
  }

  .form-part__wrap--sights .form-part__choice-label {
    width: 25%;
  }
}
