.main-nav__list {
  @include resetList;
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  border-bottom: none;
}

.main-nav__link {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: $brand-color;
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background: #ffffff;
  }
}
