.offers__wrapper {
  padding-top: 33px;
  padding-right: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  box-sizing: border-box;
}

.offers__text {
  margin-top: 32px;
}

.offers__button {
  margin-top: 42px;
}
