.offers__wrapper {
  padding-top: 33px;
  padding-right: 20px;
  padding-bottom: 49px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.offers__heading {
  max-width: 458px;
  margin: 0 auto;
}

.offers__text {
  max-width: 458px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}

.offers__text br {
  display: none;
}

.offers__button {
  max-width: 458px;
  margin-top: 34px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .offers__wrapper {
    padding-top: 49px;
    padding-bottom: 58px;
  }

  .offers__text {
    margin-top: 23px;
  }

  .offers__button {
    margin-top: 41px;
  }

  .offers__text br {
    display: initial;
  }
}

@media (min-width: $desktop-width) {
  .offers__wrapper {
    padding-bottom: 66px;
  }

  .offers__button {
    margin-top: 47px;
  }
}
