.page-intro {
  position: relative;
  z-index: 6;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 37px;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%);
  }
}

.page-intro__welcome {
  padding-top: 41px;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.page-intro__text {
  padding-top: 27px;
}

@media (min-width: $tablet-width) {
  .page-intro::after {
    display: none;
  }

  .page-intro__welcome {
    padding-top: 50px;
    padding-bottom: 51px;
  }

  .page-intro__heading {
    width: 490px;
    margin: 0 auto;
  }

  .page-intro__heading br {
    display: none;
  }

  .page-intro__text {
    padding-top: 28px;
  }
}
