.page-header {
  position: relative;
  z-index: 10;
}

.page-header__logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__logo {
  display: block;
  margin-bottom: -27px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-link {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-51px);
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-link {
    transform: translate(-94px);
  }
}
