.page-cover {
  background-color: #457aa4;

  &--main-page {
    background-image: url("../../img/bg-back-mobile@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page-cover__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
