.post-title {
  @include resetIndentation;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .post-title {
    color: #ffffff;
  }
}
