.site-button {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: $brand-color;

  &--pop-up {
    font-size: 18px;
  }
}

.site-button:hover {
  background-color: #669ec0;
}

.site-button:active {
  color: rgba(256, 256, 256, 0.3);
  background-color: #5496bd;
}

.site-button:disabled {
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .site-button--pop-up {
    font-size: 21px;
  }
}
