.video {
  position: relative;
}

.video__placeholder {
  width: 100%;
  height: auto;
}

.video__controls-wrapper {
  position: relative;
}

.video__controls-background {
  position: absolute;
  display: flex;
  background-color: #f2f2f2;
  width: 280px;
  height: 66px;
  bottom: 0;
  z-index: 1;
}

.video__progress {
  position: relative;
  display: block;
  margin-top: 22px;
  width: 235px;
  height: 3px;
  background-color: rgba(256, 256, 256, 0.2);
  margin-right: 22px;
  margin-left: 22px;
  order: 1;
  z-index: 2;
}

.video__progress::before {
  content: "";
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  top: -3px;
  left: 36px;
  background-color: #ffffff;
  border-radius: 50%;
}

.video__again {
  margin-left: 23px;
  order: 2;
  z-index: 2;
  background-color: #8d432f;
}

.video__subtitles {
  order: 3;
  z-index: 2;
  background-color: #8d432f;
  margin-right: 31px;
  margin-left: auto;
}

.video__full-screen {
  margin-right: 23px;
  order: 4;
  z-index: 2;
  background-color: #8d432f;
}

.video__controls {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  width: 280px;
  height: 111px;
  bottom: -60px;
  left: 50%;
  transform: translate(-140px);
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .video__controls {
    background-color: rgba(0, 0, 0, 0.6);
    width: 648px;
    height: 93px;
    padding-right: 41px;
    box-sizing: border-box;
    padding-left: 35px;
    bottom: 0;
    left: 0;
    transform: translate(0);
  }

  .video__controls-background {
    display: none;
  }

  .video__progress {
    margin-top: 45px;
    margin-right: 42px;
    margin-left: 42px;
    width: 389px;
    order: initial;
  }

  .video__progress::before {
    left: 113px;
  }

  .video__again {
    order: initial;
    margin: 0;
  }

  .video__subtitles {
    order: initial;
    margin: 0;
  }

  .video__full-screen {
    order: initial;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .video__controls {
    width: 800px;
  }

  .video__progress {
    width: 540px;
  }
}
